<header>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Welcome Back | Batu Steak House</title>
</header>

<body>
  <div class="form_container">
    <fieldset>
      <legend>

        <i style="color:#eb4f37" class="far fa-user-circle fa-2x"></i>
        <span style="margin: auto;">
          Welcome Back
        </span>
      </legend>
      <div class="social-links-form">
        <a href=""><i class="fab fa-facebook fa-2x"></i></a>
        <a href=""><i class="fab fa-github fa-2x"></i></a>
        <a href=""><i class="fab fa-app-store fa-2x"></i></a>
        <a href=""><i class="fab fa-google-play fa-2x"></i></a>
      </div>
      <div style="width: 100%; height: 12px; border-bottom: 1px solid #eccbbf; text-align: center;">
        <span style="font-size: 15px; background-color: #24252a; color:#eccbbf; padding: 0px 17px;">
          or
        </span>
      </div>
      <form id="login_form" class="login_form" method="POST" novalidate>
        <div class="err_auth">
          {{#if loginErr}}
          {{#each loginErr}}
          <span>{{this.msg}}</span>
          {{/each}}
          {{/if}}
        </div>
        <p>
          <label for="email" style="margin-top: 10px;">
            <input type="email" id="email" name="email" placeholder="Your Email *" value="{{dataLogin.email}}" required>
            <span class="isValid"></span>
          </label>
        </p>
        <p>
          <label for="password" style="margin-top: 30px;">
            <input type="password" id="password" name="password" placeholder="Password *" value="{{dataLogin.password}}"
              required>
            <span class="isValid"></span>
          </label>
        </p>
        <button type="submit" id="log-in-btn"><b>Log In</b></button>
        <script src="/scripts/login-form.js"></script>
        <div style="width: 100%; border-top: 1px solid #eccbbf; text-align: center;">
        </div>
      </form>
    </fieldset>
    <button class="register-btn"> <a href="register"><span>Create New Account</span>
      </a></button>
  </div>