<!doctype html>
<html>

<head>
  <title>{{email}} | Dashboard</title>
  <link rel="stylesheet" href="/static/clerk.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
  <div class="container">
    <h3 style="margin-top: 40px">
      <span style="color:#fff">Welcome back, </span>
      <span class="user_greet">{{email}}</span>
    </h3>
    <h4 style="color:#eccbbf" id="spanDate"></h4>
    <script type="text/javascript" src="/scripts/displayDate.js"></script>
  </div>
  <div class="container">
    <button class="pull-right"><a href="/">Logout</a></button>
  </div>

</body>

</html>