<!doctype html>
<html>


<head>
  <title>Dashboard</title>
</head>

<body>
  <div style="margin: 40px">
    <div class="container" style="color:#ffff">
      <h3>Hello <span class="user_greet">{{email}}</span>
      </h3>
      <span>Welcome to your profile!</span>
      <p>We are excited to see you with us!</p>
      <p>Here is the information we have on file for you:</p>

      <table>
        <tr>
          <th>Username</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Meat lover</th>
        </tr>
        <tr>
          <td>{{username}}</td>
          <td> {{lastname}}</td>
          <td> {{email}}</td>
          <td>yes</td>
        </tr>
      </table>
    </div>
  </div>


</body>

</html>