<footer class="footer">
  <div class="footer_container">
    <div class="row">
      <div class="footer_column">
        <h4>Batu Steak House</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/mealPack">Meals Package</a></li>
          <li><a href="#">Grocery</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <div class="footer_column">
        <h4>Meals Package</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Delivery</a></li>
          <li><a href="#">Order status</a></li>
          <li><a href="#">Payment options</a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="footer_column">
        <h4>follow me</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
          <a href="#"><i class="fab fa-unsplash fa-2x"></i></a>

          <a href="https://github.com/batunpc"><i
              class="fab fa-github fa-2x"
            ></i></a>

        </div>
      </div>
    </div>
  </div>
</footer>