<!--grid navigation bar -->
<nav class="navBar">
  <div class="brand_logo">
    <a href="/">
      <img class="logo" src="static/images/logo.webp" style="width:150px" alt="Batu's SteakHouse" />
    </a>
  </div>
  <ul class="nav_links">
    <li><a href="/">Home</a></li>
    <li><a href="/mealPack">Meals Package</a></li>
    <li><a href="#">Grocery</a></li>
    <li><a href="#">About</a></li>
  </ul>
  <div class="nav_btns">
    <li> <a href="users/login"> Log In <i class="fa fa-user-circle"></i></a></li>
    <li> <a href=""> Shop <i class="fa fa-shopping-cart"></i></a></li>
    <li> <a href=""> Find <i class="fa fa-search"></i></a></li>
  </div>
  <div class="hamburger">
    <div></div>
    <div></div>
    <div></div>
  </div>
</nav>
{{!--
<script src="script.js"></script>
--}}
<!-- grid navigation bar -->