<head>
  <meta charset="utf-8">
  <title> Customer Login | Batu Steak House</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/login-form.css">
  <link rel="stylesheet" href="/static/register-form.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {{>header_registerForm}}
  {{{body}}}
  {{>footer}}
</body>