<head>
  <meta charset="utf-8">
  <title> Create account | Batu Steak House</title>
  <link rel="shortcut icon" type="image/png" href="/static/icon/web_icon.png">

  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/login-form.css">
  <link rel="stylesheet" href="/static/register-form.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  {{>headerForms}}
  {{{body}}}
  {{>footer}}
</body>