<head>
  <meta charset="utf-8">
  <title> Customer Login | Batu Steak House</title>
  <link rel="stylesheet" href="/static/register-form.css">
  <link rel="stylesheet" href="/static/user-profile.css">
  <link rel="stylesheet" href="/static/login-form.css">
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    integrity="sha512-5fsy+3xG8N/1PV5MIJz9ZsWpkltijBI48gBzQ/Z2eVATePGHOkMIn+xTDHIfTZFVb9GMpflF2wOWItqxAP2oLQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  {{>headerForms}}
  {{{body}}}
  {{>footer}}
</body>