<!--
* ********************************************************************************/ 
*  WEB322 – Assignment 1
*  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.  
*  No part of this assignment has been copied manually or electronically from any other source
*  (including web sites) or distributed to other students.
* 
*  Name: Batuhan Ipci    Student ID: 130971203       Date: 10/18/2021
*
*  Online (Heroku) URL:    https://stark-crag-53181.herokuapp.com/
*
********************************************************************************/ 
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home | Batu Steak House</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <main>

    <!-- figure 1.1-->
    <div class='hero'>
      <div class="hero-one"></div>
      <div class="hero-two"></div>
      <h1 class="header-title"><span class="header-primary">Chef Batu Recipes</span><span class="header-sub">and the
          underground secrets</span></h1>
      <button type="button" class="fill-btn"><a href="#menu"><b>Order Now!</b></a></button>
    </div>


    <div class="content_section">
      <div class="content_text">Healthy food, for a wealthy mood!</div>
    </div>
    <!-- figure 1.2 -->
    <div class="containter_column">
      <div class="column1">
        <img src="static/images/menu.png" style="width: 48%; height: 220px; border-radius: 35%" />
        <p style="color: #eccbbf">
          <b style=" font-size: 1.4vw">Pick</b>
        <div align="center">
          <p style="font-size: 130%; width: 50%; ">10+ types of steaks done with special skills. Order some <br>(or
            all)
            of these meals</p>
        </div>
        </p>
      </div>

      <div class="column2">
        <img src="static/images/delivery.png" style="width: 48%; height: 220px; border-radius: 35%" />
        <p style="color: #eccbbf">
          <b style=" font-size: 1.4vw;">Heat</b>
        <div align="center">
          <p style="font-size: 130%; width: 50%; ">Food delivery now becomes very simple. Order with our amazing app
            now!</p>
        </div>
        </p>
      </div>

      <div class="column3">
        <img src="static/images/bakery.png" style="width: 48%; height: 220px; border-radius: 35%" />
        <p style="color:#eccbbf"><b style=" font-size: 1.4vw">Eat</b></p>
        <div align="center">
          <p style="font-size: 130%;width: 50%; ">Microwave or Oven, No Cleaning Up. Adventurous & Healthy eating</p>
        </div>
      </div>

      <div class="column4">
        <img src="static/images/food.png" style="width: 48%; height: 220px; border-radius: 35%" />
        <p style="text-align: center; color: #eccbbf">
          <b style="font-size: 1.4vw">Repeat</b>
        <div align="center">
          <p style="font-size: 130%; width: 50%; ">Cooking techniques for perfectly grilled skirt steak, rib-eye,
            filet mignon and more</p>
        </div>
        </p>
      </div>
    </div>

    <!--figure 1.3-->
    <a name="menu"></a>
    <div class="content_section">
      <div class="content_text">
        Batu Chef Cooks, You Simply Heat and Eat
      </div>
    </div>
    <!--top meals-->
    <div class="containter_column_meal">
      <div class="meal_column1">
        <img src="static/images/tbone.jpg" style="width: 80%; height: 240px;" />
        <figcaption style=" font-size: 1.2vw; color: #eccbbf">- T-BONES' Unusual Reuben -</figcaption>
        <div align="center">
        </div>
      </div>

      <div class="meal_column2">
        <img src="static/images/ribeye.jpg" style="width: 80%; height: 240px; " />
        <figcaption style=" font-size: 1.2vw; color: #eccbbf">- Smoked Rib-Eye -</figcaption>
        <div align="center">
        </div>
      </div>

      <div class="meal_column3">
        <img src="static/images/flank.jpg" style="width: 80%; height: 240px; " />
        <figcaption style=" font-size: 1.2vw; color: #eccbbf">- 8 oz. Signature Flank Steak -</figcaption>
        <div align="center">
        </div>
      </div>

      <div class="meal_column4">
        <img src="static/images/tunasteak.jpg" style="width: 80%; height: 240px; " />
        <figcaption style=" font-size: 1.2vw; color: #eccbbf">- Grilled Lime Tuna Steak -</figcaption>
        <div align="center">
        </div>
        </p>
      </div>
    </div>
  </main>
</body>

</html>