<!doctype html>
<html>


<head>
  <title>Dashboard</title>
</head>

<body>
  <div class="container">
    <h3>Welcome back, <span class="user_greet">{{email}}</span>
    </h3>
    <h4 style="color:#eccbbf" id="spanDate"></h4>

    <script type="text/javascript" src="/scripts/displayDate.js"></script>

  </div>
  <div class="container">
    <button class="pull-right"><a href="/logout">Logout</a></button>
  </div>



</body>

</html>