<!--
* ********************************************************************************/ 
*  WEB322 – Assignment 1
*  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.  
*  No part of this assignment has been copied manually or electronically from any other source
*  (including web sites) or distributed to other students.
* 
*  Name: Batuhan Ipci    Student ID: 130971203       Date: 10/18/2021
*
*  Online (Heroku) URL:    https://stark-crag-53181.herokuapp.com/
*
********************************************************************************/ 
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>user-profile</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

  <!--grid navigation bar -->
  <header >
    <nav class="navBar">
      <div class="brand_logo">
        <a href="/"> 
          <img class="logo" src="static/images/logo.png" style="width:150px" alt="Batu's SteakHouse"/>
        </a>
      </div>
      <ul class="nav_links">
        <li><a href="/">Home</a></li>
        <li><a href="mealPack">Meals Package</a></li>
        <li><a href="#">Grocery</a></li>
        <li><a href="#">About</a></li>
      </ul>
      <div class="nav_btns">
        <li> <a href="userForms"> Log In <i class="fa fa-user-circle"></i></a></li>
        <li> <a href=""> Shop <i class="fa fa-shopping-cart"></i></a></li>
        <li> <a href=""> Find <i class="fa fa-search"></i></a></li>
      </div>
      <div class="hamburger">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </nav>
    <script src="script.js"></script>
  </header>
  <!-- grid navigation bar -->

<body>
  <h1 style="padding: 200px ">Hello User</h1>
</body>


<footer class="footer">
  <div class="footer_container">
    <div class="row">
      <div class="footer_column">
        <h4>Batu Steak House</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="meal">Meals Package</a></li>
          <li><a href="#">Grocery</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </div>
      <div class="footer_column">
        <h4>Meals Package</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Delivery</a></li>
          <li><a href="#">Order status</a></li>
          <li><a href="#">Payment options</a></li>
          <li><a href="#"></a></li>
        </ul>
      </div>
      <div class="footer_column">
        <h4>follow me</h4>
        <div class="social-links">
          <a href="#"><i class="fa fa-terminal "></i></a>
          <a href="https://github.com/batunpc"><i class="fa fa-github "></i></a>
          <a href="#"><i class="fa fa-instagram"></i></a>
          <a href="mailto:batuhanipci@yahoo.com.tr"><i class="fa fa-yahoo"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
</html>