<!--
* ********************************************************************************/ 
*  WEB322 – Assignment 1
*  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.  
*  No part of this assignment has been copied manually or electronically from any other source
*  (including web sites) or distributed to other students.
* 
*  Name: Batuhan Ipci    Student ID: 130971203       Date: 10/18/2021
*
*  Online (Heroku) URL:    https://stark-crag-53181.herokuapp.com/
*
********************************************************************************/ 
-->
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title> Customer Login | Batu Steak House</title>
  <link rel="stylesheet" href="/static/style.css" />
  <link rel="stylesheet" href="/static/login-form.css">
  <link rel="stylesheet" href="/static/register-form.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="form_container">
    <fieldset>
      <legend> <span style="padding-right: 12px ;"> <i style="color:#f17244"
            class=" fa fa-user-circle fa-2x"></i></span>
        Customer Login</legend>
      <div class="social-links-form">
        <a href="userForms"><i class="fa fa-google fa-2x"></i></a>
        <a href=""><i class="fa fa-github fa-2x"></i></a>
        <a href=""><i class="fa fa-twitter fa-2x"></i></a>
        <a href=""><i class="fa fa-pinterest fa-2x"></i></a>
      </div>
      <br>
      <div style="width: 100%; height: 17px; border-bottom: 1px solid #eccbbf; text-align: center;">
        <span style="font-size: 15px; background-color: #24252a; color:#eccbbf; padding: 0px 17px;">
          or
        </span>
      </div>
      <br>
      <form class="login_form" novalidate>
        <p>
          <label for="mail">
            <input type="email" id="mail" name="mail" placeholder="Your Email *" required>
            <span class="error"></span>
          </label>
        </p>
        <p>
          <label for="password">
            <input type="password" id="password" name="password" placeholder="Password *" required>
            <span class="error"></span>
          </label>
        </p>
        <button type="submit" id="log-in-btn"><b>Log In</b></button>
        <script src="/scripts/login-form.js"></script>

        <div style="width: 100%; border-top: 1px solid #eccbbf; text-align: center;">
        </div>
      </form>
    </fieldset>
    <button class="register-btn"><a href="#open"><span>Create New Account</span> </a></button>
  </div>

  <!--============== pop-up model ===============-->
  <div id="open" class="modalBox">
    <div>
      <p><a class="close" title="Close" onclick="ResetForm()" id="closeMe" href="#close" rel="nofollow">&times;</a></p>
      <div class="modal-left">
        <img id="modal-img-left" src="static/svg/modal-right.svg" alt="">
      </div>
      <div class="modal-right">
        <img id="modal-img-right" src="static/svg/modal-left.svg" alt="">
      </div>
      <div class="form_container">
        <h1 id="modal-img-text"> <span id="modal-img-text-title">Join Batu's Steakhouse Community! </span>
          <br>
          More than just meat.
        </h1>
        <fieldset>
          <legend> <span style="padding-right: 12px ;"> <i style="color:#f17244"
                class=" fa fa-user-circle fa-2x"></i></span>
            Create Account</legend>
          <div class="social-links-form">
            <a href="userForms"><i class="fa fa-google fa-2x"></i></a>
            <a href=""><i class="fa fa-github fa-2x"></i></a>
            <a href=""><i class="fa fa-twitter fa-2x"></i></a>
            <a href=""><i class="fa fa-pinterest fa-2x"></i></a>
          </div>
          <div style="width: 100%; height: 17px; border-bottom: 1px solid #eccbbf; text-align: center;">
            <span style="font-size: 15px; background-color: #24252a; color:#eccbbf; padding: 0px 17px;">
              or
            </span>
          </div>
          <form id="signup_form" method="POST" novalidate>
            <p class="isValid">
              <label for="name">
                <input type="text" id="username" name="username" placeholder="First Name *" value="{{data.username}}">
                <span class="signup_error"></span>
              </label>
            </p>
            <p class="isValid">
              <label for="lastname">
                <input type="text" id="lastname" name="lastname" placeholder="Last Name *" value="{{data.lastname}}">
                <span class="signup_error"></span>
              </label>
            </p>
            <p class="isValid">
              <label for="mail_signup">
                <input type="email" id="email" name="email" placeholder="Your Email *" value="{{data.email}}" />
                <span class="signup_error"></span>
              </label>
            </p>
            <p class="isValid">
              <label for="password_signup">
                <input type="password" id="password_signup" name="password_signup" placeholder="Password *"
                  value="{{data.password_signup}}">
                <span class="signup_error"></span>
              </label>
            </p>
            <button type="submit" class="register-btn"><span>Create New Account</span></button>
            <script type="text/javascript" src="/scripts/signup-form.js"></script>

      </div>
      </form>
      </fieldset>
    </div>
  </div>

  <!--==============pop-up model===============-->

</html>