<!--
* ********************************************************************************/ 
*  WEB322 – Assignment 1
*  I declare that this assignment is my own work in accordance with Seneca  Academic Policy.  
*  No part of this assignment has been copied manually or electronically from any other source
*  (including web sites) or distributed to other students.
* 
*  Name: Batuhan Ipci    Student ID: 130971203       Date: 10/18/2021
*
*  Online (Heroku) URL:    https://stark-crag-53181.herokuapp.com/
*
********************************************************************************/ 
-->
<!DOCTYPE html>
<html lang="en">

<head>

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meals Package | Batu Steak House</title>
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

<body>
  <main>
    <!-- figure 1.1-->

    <div class='hero' style="text-align: end;">
      <div class=" hero-three"></div>
      <h1 class="header-title-mealpac">
        Healthy Meals Delivered To Your Door, Eat & Repeat
      </h1>
      <button style="margin-right: 170px;" class="fill-btn"><a href="#menu"><b>Order Now!</b></a></button>
    </div>


    <!--figure 1.4 -->
    <div class="grid">
      <figure>
        <img src="static/images/weightloss.webp" />
        <h2>- Weight Loss-</h2>
        <p>High protein, low-calorie meals nutrient profile tuned for weight loss.</p>
      </figure>
      <figure>
        <img src="static/images/musclegain.webp" />
        <h2>- Muscle Gain -</h2>
        <p>Higher protein and calorie portions to support your muscle gain momentum.</p>
      </figure>
      <figure>
        <img src="static/images/keto.webp" />
        <h2>- Keto -</h2>
        <p>High fat, low carb meals with moderateprotein to sustain ketosis.</p>
      </figure>
      <figure>
        <img src="static/images/fatburner.webp" />
        <h2>- Fat Burner -</h2>
        <p>Low carb, nutrient-rich meals with fat-burning profiles to support fat loss.</p>
      </figure>

  </main>
</body>

</html>