th,
td {
  text-align: center;
}

th {
  color: #eccbbf;
  font-size: 25px;
  font-family: 'Amatic SC', cursive;

}

.tableContainer {
  margin: 20px 50px
}

.brand_logo {
  margin-left: 25px;
}

ul {
  width: 90%;
}

.nav_links li {
  margin-top: 22px;
}

.nav_btns li>a {
  display: inline-block;
  border-radius: 15%;
  transition: all 0.5s ease;
  white-space: nowrap;
  padding: 10px;
  border: solid 1px #eccbbf;
  text-align: center;
  line-height: 1px;
  width: 110px
}

.button:hover a {
  color: #f17244;
}

article {
  background: linear-gradient(to right,
      hsl(16, 93%, 48%),
      hsl(24, 40%, 67%));
  background-clip: borde;
  -webkit-background-clip: text;
  -webkit-text-fill-color: #f17244;
  text-align: center;
}

h1 {
  font-size: 10vmin;
  line-height: 1.1;
}

.text-center {
  color: #f17244;
  font-size: 200%;
}


h1,
p,
body {
  margin: 0;
}

p {
  font-family: "Dank Mono", ui-monospace, monospace;
}

#photo {
  color: #f17244;
}