@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

/* pop-up modal */
.modalBox {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 1);
  color: black;
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;

}

.modalBox:target {
  opacity: 1;
  pointer-events: auto;
}

.modalBox>div {
  width: 400px;
  position: relative;
  margin: 5% auto;

}

.close {
  background: white;
  color: black;
  line-height: 25px;
  position: absolute;
  right: 1px;
  text-align: center;
  top: 1px;
  width: 35px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: none;
  border: none;
}

.close:hover {
  background: black;
  color: white;
  cursor: pointer;
}



.modal-right #modal-img-right {
  width: 70%;
  height: 50%;
  position: absolute;
  top: 40%;
  transform: translate(-140%, -80%);
}


.modal-left #modal-img-left {
  width: 80%;
  height: 50%;
  position: absolute;
  top: 40%;
  transform: translate(170%, -20%);
}

#modal-img-text {
  width: 100%;
  height: 20%;
  left: 100px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(-140%, -5%);
  color: #eccbbf
}

#modal-img-text-title {
  color: #ff4500;
  width: 700px;

}


.isValid label {
  position: relative;
  display: inline-block;
  font-size: 15px;
  text-align: center;
}

.isValid input {
  border: 2px solid #f0f0f0;
  background-color: rgb(234, 206, 211);
  border-radius: 4px;
  display: block;
  font-family: inherit;
  font-size: 14px;
  padding: 10px;
  width: 100%;
}


.isValid span {
  font-size: 82%;
  font-style: italic;
  color: white;
  background-color: #900;
  border-radius: 0px 0 20px 6px;
  box-sizing: border-box;
  float: right;
  padding: 7px;
  margin: 0;
  visibility: hidden;
}

.isValid.error span {
  visibility: visible;
  border-color: #900;
}

.isValid.success {
  visibility: visible;
  border-color: #90ee90;
}

.register-btn {
  display: inline-block;
  background-color: #332f33;
  border-radius: 10px;
  color: #ffff;
  font-size: 20px;
  padding: 5px;
  width: 270px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 30px 25px;
}

.register-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  color: #ffff;
}

.register-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.register-btn:hover {
  background-color: #f17244;

}

.register-btn:hover span {
  padding-right: 25px;
}

.register-btn:hover span:after {
  opacity: 1;
  right: 0;
}