@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

li,
a {
  font-family: 'Poppins', sans-serif;
  color: #eccbbf;
  text-decoration: none;
  position: relative;
  width: auto;
  font-size: 20px;
  font-weight: 800;
}

/** =========  Grid Navigation Bar  =========  */
.navBar {

  top: 0;
  z-index: 999;
  position: fixed;
  width: 100%;

  background-color: #24252a;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: .4fr 1.2fr .7fr;
  justify-items: center;
  align-items: center;
}

.brand_logo {
  justify-self: start;
  margin: .5em .0em 0em 1em;

}

.nav_links {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  font-size: 1.3rem;
  column-gap: 5rem;
  justify-self: left;
  grid-column: 2/3;
  text-align: center;
  align-items: center;

}

.nav_links li>a:hover {
  color: #ff4500;
}

.nav_btns {
  display: grid;
  grid-auto-flow: column;
  list-style: none;
  column-gap: 1.5rem;
  font-size: 1.4rem;
  grid-column: 3/4;

}

.nav_btns li>a {
  display: inline-block;
  border-radius: 15%;
  transition: all 0.5s ease;
  white-space: nowrap;
  padding: 10px;
  border: solid 1px #eccbbf;
  text-align: center;
  line-height: 1px;
  width: 85px
}

.nav_btns li>a:hover {
  color: #24252a;
  background-color: #eccbbf;
}

@media screen and (max-width: 1170px) {
  .navBar {
    grid-template-columns: .8fr 2fr .5fr;
  }

  .nav_btns {
    grid-auto-flow: row;
    justify-self: right;
    text-align: center;
    row-gap: .7em;
    margin: 20px;
  }
}

@media screen and (max-width: 780px) {
  .navBar {
    grid-template-columns: 1fr 1fr;
  }

  .brand_logo {
    display: none;
  }

  .nav_btns {
    grid-auto-flow: column;
  }

  .nav_links {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #eee;
    z-index: 2;
    /* new */
    grid-auto-flow: row;
    grid-auto-rows: 7rem;
    align-items: center;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 0.5s ease-out;
  }

  .nav_links.open {
    clip-path: circle(1200px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
  }

  .hamburger {
    cursor: pointer;
    justify-self: left;
    margin-left: 2em;
    grid-column: 1/2;
    z-index: 3;
  }

  .hamburger div {
    width: 30px;
    height: 3px;
    background-color: #eccbbf;
    margin: 5px 0;
  }
}

/** =========  Grid Navigation Bar  =========  */


/** =========  Hero Section  =========  */
.hero {
  width: 100vw;
  height: 100vh;
  text-align: center;
  color: #CCC;
  position: relative;
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 17.5px;
}



.hero-one {
  top: 0;
  position: absolute;
  width: 60%;
  background-color: black;
  height: 100vh;
  clip-path: polygon(0 0, 60vw 0, 40vw 100vh, 0 100vh);
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.47),
      rgba(0, 0, 0, 0.601)),
    url("images/hero-one.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}

.hero-two {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  background-color: #24252a;
  height: 100vh;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)),
    url("images/hero-two.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.hero-three {
  top: 0;
  position: absolute;
  width: 100%;
  background-color: black;
  height: 100vh;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.47),
      rgba(0, 0, 0, 0.601)),
    url("images/steakHero.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}



.header-title {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title-mealpac {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 77%;
  letter-spacing: 2px;
  font-size: 50px;
  transform: translate(-50%, -70%);

}

.header-primary {
  font-size: 2em;
  display: block;
  font-weight: 700;
}

/* hero button */
.fill-btn {
  z-index: 10;
  top: 72%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 50px 13px;
  outline: 0;
  border: 4px solid #eccbbf;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}

.fill-btn::after {
  content: "";
  background-color: #24252a;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.fill-btn:hover::after {
  top: 0px;
  left: 0px;
}

/** =========  Hero Section  =========  */

/*content section */

.content_section {
  display: flex;
  justify-content: center;
  background-color: #24252a;
  padding: 55px;
}

.content_text {
  font-size: 32px;
  font-family: "Lobster", cursive;
  color: #eccbbf;
}



/*---*/

.containter_column {
  display: flex;
  background-color: #24252a;
  padding: 20px;
}


.column1,
.column2,
.column3,
.column4 {
  float: left;
  width: 30%;
  text-align: center;
  cursor: pointer;
  font-size: 1vw;
  color: #f17244;
}

.containter_column_meal {
  display: flex;
  background-color: #303135;
  justify-content: center;
  padding: 100px;
}

.meal_column1,
.meal_column2,
.meal_column3,
.meal_column4 {
  width: 23%;
  text-align: center;
  cursor: pointer;
}



.containter_column_mealpac {
  display: flex;
  background-color: #303135;
  justify-content: center;
  padding: 72px;
  display: relative;
}

.mealpac_column1,
.mealpac_column2,
.mealpac_column3,
.mealpac_column4 {
  padding: 40px;
  text-align: center;
  cursor: pointer;
  justify-content: center;

  width: 300px;
  height: 550px;
}

figure img:hover {
  box-shadow:
    2px 2px #d83e06bb,
    3px 3px #d83e06bb,
    4px 4px #d83e06bb,
    5px 5px #d83e06bb,
    6px 6px #d83e06bb,
    7px 7px #d83e06bb;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .7s ease;
}

.hoverme {
  font-size: 1.1vw;
  padding: 7px;
  border-radius: 50%;
  color: #eccbbf;
}

.hide {
  display: none;
}

.hoverme:hover+.hide {
  display: block;
  color: #eccbbf;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

ul {
  list-style: none;
}


.footer_container {
  max-width: 1170px;
  margin: auto;
}

.footer {
  font-family: 'Poppins', sans-serif;
  background-color: #24252a;
  padding: 95px;
  bottom: 0;
}

.footer_column {
  width: 30%;
  padding: 0 15px;
}

.footer_column h4 {
  font-size: 18px;
  color: #ffff;
  text-transform: capitalize;
  margin-bottom: 37px;
  font-weight: 450;
  position: relative;
}

.footer_column h4::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #f17244;
  height: 5px;
  width: 50px;
}

.footer_column ul li a {
  transition: all 0.4s ease;
}

.footer_column ul li a:hover {
  color: #ffff;
  padding-left: 10px;
}

.social-links {
  margin-right: 50px;
  width: auto;

}

.social-links i {
  line-height: 2.4em;

}

.social-links a {
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: #27282c;
  text-align: center;
  color: #ffff;
  border-radius: 50%;
  transition: all 0.5s ease;
  font-weight: 100px;
  margin-right: 10px;
}

.social-links a:hover {
  color: #24252a;
  background-color: #ffff;
}

@media(max-width: 700px) {
  .footer_column {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media(max-width: 500px) {
  .footer_column {
    width: 100%;
  }
}